<div class="lg:h-[500px] mt-[20%] md:mt-[4%] bg-black  bg-center bg-cover" style="background-image: url(images/2024_08_28_23_59_IMG_1716.JPEG);">
    <div>
    <div class="grid lg:grid-cols-3 gap-5 container pb-5">
       <div class="bg-transparent backdrop-blur-md border border-white h-[400px] mt-5 lg:mt-[18%] rounded-xl shadow-md transform hover:scale-105 duration-500 mx-3 overflow-hidden">
          <div class="overflow-hidden h-[250px]">
            <img src="images/2024_08_29_00_15_IMG_1723.JPEG" class="h-full w-full object-cover"/>
          </div>
          <div>
            <h3 class="text-uppercase text-white text-center text-[17px] mt-2 opacity-80">Package touristique</h3>
              <p class="mx-5 text-center text-gray-300 text-sm mt-3">
                Visa touristique, réservation hôtel,
                guide voyage
              </p>
          </div>
       </div>
       <div class="bg-transparent backdrop-blur-md border border-white h-[400px] mt-5 lg:mt-[18%] rounded-xl shadow-md transform hover:scale-105 duration-500 mx-3 overflow-hidden">
        <div class="overflow-hidden  h-[250px]">
            <img src="images/2024_08_27_18_36_IMG_1668.JPEG"  class="h-full w-full object-cover"/>
          </div>
          <div>
            <h3 class="text-uppercase text-center text-[17px] mt-2 text-white opacity-80">Package etudiant</h3>
            <p class="mx-5 text-center text-gray-300 text-sm mt-3">
              Guide inscription université, obtention document universitaire,
              obtention visa étudiant 
            </p>
          </div>
       </div>
       <div class="bg-transparent backdrop-blur-md border border-white h-[400px] mt-5 lg:mt-[18%] rounded-xl shadow-md transform hover:scale-105 duration-500 mx-3 overflow-hidden">
        <div class="overflow-hidden  h-[250px]">
            <img src="images/2024_08_29_00_11_IMG_1720.JPG"  class="h-full w-full object-cover"/>
          </div>
          <div>
            <h3 class="text-uppercase text-center text-[17px] mt-2 text-white opacity-80">Achat billet d'avion</h3>
            <p class="mx-5 text-center text-gray-300 text-sm mt-3">
              Guide inscription université, obtention document universitaire,
              obtention visa étudiant 
            </p>
          </div>
       </div>
    </div>
    </div>
  </div>
  <div class="bg-[#EC0028] fixed top-0 left-0 right-0 bottom-0 z-50 flex justify-center items-center" *ngIf="splash">
    <img src="images/2024_08_28_14_10_IMG_1700.GIF" class="w-[200px]"/>
  </div>