<div class="lg:h-[400px] bg-black relative mt-5 pb-5">
 <div class="grid lg:grid-cols-3 container text-white text-sm">
    <div class="flex justify-center items-center">
      <div>
        <h3 class="text-white ml-5 lg:mt-[20%] mt-5">Resumé</h3>
        <ul class="mt-3">
            <li class="flex gap-2 py-2"><i class="fa-solid fa-home"></i> <a>Accueil</a></li>
            <li class="flex gap-2 py-2"><i class="fa-solid fa-user-group"></i><a>A propos</a></li>
            <li class="flex gap-2 py-2"><i class="fa-solid fa-user"></i><a>Services</a></li>
            <li class="flex gap-2 py-2"><i class="fa-solid fa-phone"></i><a>Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="flex justify-center items-center">
       <div>
        <h3 class="text-white text-center lg:mt-[20%] mt-5">Nos réseaux</h3>
        <div class="flex gap-2 justify-center items-center">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
        <img src="images/logo.PNG" class="w-[150px] mx-auto opacity-30">
       </div>
    </div>
    <div>Droite</div>
 </div>
 <p class="text-white text-sm text-center mt-[4%] mx-5 pb-5">copyright2024 International services | designer Bruno Milenge | web developper Michée Kolony</p>
</div>