<div class="lg:h-[400px] bg-center bg-cover text-white relative mt-5 pb-5  border-t" style="border-top-left-radius: 200px; border-top-right-radius: 200px; background-image: url(images/2024_09_01_12_05_IMG_1809.JPEG);">
 <div class="grid lg:grid-cols-2 container text-black text-sm">
    <div class="flex justify-center items-center tex-center text-white">
      <div>
        <h3 class="lg:mt-[20%] mt-5 text-center text-[15px]"><h3 class="lg:mt-[20%] mt-5 text-[15px]">Contact</h3></h3>
        <ul class="mt-3">
          <li class="flex gap-2 py-2"><i class="fa-solid fa-phone"></i><a>+243 81 29 33 850</a></li>
          <li class="flex gap-2 py-2"><i class="fa-brands fa-whatsapp"></i><a>+243 81 29 33 850</a></li>
          <li class="flex gap-2 py-2"><i class="fa-solid fa-envelope"></i><a>info&#64;internationalservices.com</a></li>
      </ul>
      </div>
    </div>
    <div class="flex justify-center items-center text-center text-white">
      <div class="text-center">
        <h3 class="lg:mt-[20%] mt-5 text-[15px]"><i class="fa-solid fa-location-dot"></i> Notre adresse</h3>
      <iframe class="w-[350px] rounded-xl mt-5" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15914.063005182066!2d15.288937397635198!3d-4.3137227835326195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shuilerie!5e0!3m2!1sfr!2scd!4v1725146315102!5m2!1sfr!2scd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
      </div>
    </div>
 </div>
 <p class="text-sm text-center mt-[4%] mx-5 pb-5">copyright2024 International services |  web developper Michée Kolony</p>
</div>