<div class="lg:h-[600px] bg-white">
    <div class="grid lg:grid-cols-2 gap-3 container pb-5 overflow-hidden">
       <div class="col-span-1">
        <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fweb.facebook.com%2Finternationalservicerdc%2Fvideos%2F2241747309505962%2F&show_text=false&width=560&t=0" class="w-full h-full object-cover mt-[20%]" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true">

        </iframe>
       </div>
       <div class="col-span-1">
        <h3 class="text-black text-uppercase  mt-[28%] lg:mt-[20%] font-bold text-center lg:text-justify transform hover:scale-105 duration-500">
            International <span class="text-[#f33838]">service</span>
        </h3>
        <p class="text-center mt-5 transform hover:scale-105 duration-500 hover:font-bold">
           International service est plus qu'une simple agence de voyage
           .En tant que société à responsabilité limitée unipersonnelle (SARLU).
           Nous nous spécialisons dans l'organisaion et l'accompagnement personnalisé pour vos voyages à l'étranger.
        </p>
        <p class="text-center transform hover:scale-105 duration-500 hover:font-bold">
         Nous offrons de traitement des services de traitement et d'admission International, garantissant une
         expérience sans tracas et mémorable à nos clients. Avec notre expertise et notre engagement  envers l'excellence
         , nous sommes là pour rendre chaque voyage inoubliable.
         </p>
        <div class="flex justify-center items-center ">
            <button class="bg-black px-5 py-3 text-white rounded-md transform hover:scale-105 duration-500 hover:font-bold">
                Découvrir
            </button>
        </div>
       </div>
    </div>
  </div>
<div class="lg:h-[720px] bg-[#f33838]">
    <div class="grid lg:grid-cols-3 container pb-5">
        <div class="col-span-1">
            <h3 class="text-white text-uppercase  mt-5 font-bold transform hover:scale-105 duration-500">
                Pourquoi nous choisir ?
            </h3>
            <div class="mt-[12%] transform hover:scale-105 duration-500">
               <span class="bg-white py-2 px-4 rounded-full text-[#f33838] font-bold shadow-md">01</span>
               <p class="mt-3 text-white text-uppercase text-[20px] font-bold">Obtenir les meilleures offres</p>
               <p class="text-gray-300 text-justify">
                Trouvez de l'aide pour vos réservations et vos projets de
                 voyage à quoi vous attendre tout au long de votre voyage avec
                nous
               </p>
            </div>
            <div class="mt-[10%] transform hover:scale-105 duration-500">
                <span class="bg-white py-2 px-4 rounded-full text-[#f33838] font-bold shadow-md">02</span>
                <p class="mt-3 text-white text-uppercase text-[20px] font-bold">Transparence des demarches a 100%</p>
                <p class="text-gray-300 text-justify">
                 Nous nous assurons de vous tenir informer de chaque étape 
                 abordé tout au long de vos démarches de voyage pour une 
                 meilleure transparence des affaires
                </p>
             </div>
             <div class="mt-[10%] transform hover:scale-105 duration-500">
                <span class="bg-white py-2 px-4 rounded-full text-[#f33838] font-bold shadow-md">03</span>
                <p class="mt-3 text-white text-uppercase text-[20px] font-bold">Voyager avec plus de confiance</p>
                <p class="text-gray-300 text-justify">
                 Trouvez de l'aide pour vos réservations et vos projets de
                  voyage à quoi vous attendre tout au long de votre voyage avec
                 nous
                </p>
             </div>
        </div>
        <div class="col-span-2 flex justify-center items-center">
           <img src="images/2024_08_27_21_42_IMG_1689.PNG" class="w-[750px] mx-auto transform hover:rotate-[-45deg] duration-1000"/>
        </div>
    </div>
  </div>
  <div class="lg:h-[650px] bg-white pb-5">
    <div class="grid container overflow-hidden">
       <img src="images/2024_08_28_00_48_IMG_1698.JPEG" class="mx-auto w-[800px] opacity-30 transform hover:scale-105 duration-500"/> 
       <p class="text-center mx-5 transform hover:scale-105 duration-500 hover:font-bold">
        Nous avons élargie notre champs d'actions enfin de permettre
        à nos client distants d'acceder plus facilement à nos services  ainsi qu'aux clients qui veulent aller dans
        les zones cliblées de notre carte, nous les aidons à y aller facilement 
       </p>
       <a class="mx-auto text-decoration-none text-[#f33838] transform hover:scale-105 duration-500 hover:font-bold cursor-pointer bg-black text-white px-5 py-3 rounded-md">
         Voir offres
       </a>
    </div>
  </div>

  <div class="bg-[#EC0028] fixed top-0 left-0 right-0 bottom-0 z-50 flex justify-center items-center" *ngIf="splash">
    <img src="images/2024_08_28_14_10_IMG_1700.GIF" class="w-[200px]"/>
  </div>