.link{
    transform: rotate(-90deg) rotateY(90deg);
    transform-origin: top right;
    animation: animation1 1s ease forwards;
}

@keyframes animation1{
    to{
        transform: rotate(0);
    }
}