<div class="fixed top-0 left-0 right-0 shadow-md py-2 z-40 bg-white">
<div class="flex justify-between container">
    <div><img src="images/Logo rouge PNG.png" class="w-[70px]"/></div>
    <div class="hidden lg:flex gap-4 text-sm">
        <a class="cursor-pointer text-decoration-none text-black py-3" routerLink="/home">Accueil</a>
        <a class="cursor-pointer text-decoration-none text-black py-3" routerLink="/about">A propos</a>
        <a class="cursor-pointer text-decoration-none text-black py-3" routerLink="/services">Services</a>
        <a  class="cursor-pointer text-decoration-none text-black py-3">Contact</a>
    </div>

    <div class="hidden lg:flex gap-2">
       <a class="py-3 cursor-pointer" href="https://web.facebook.com/internationalservicerdc?locale=fr_FR" target="_blank"><img src="images/2024_08_27_21_22_IMG_1681.PNG" class="w-[30px]"/></a>
       <a class="py-2 mt-1" ><img src="images/2024_08_27_21_23_IMG_1683.PNG" class="w-[40px]"/></a>
       <a class="py-2 mt-[6px]" ><img src="images/2024_08_27_21_22_IMG_1682.PNG" class="w-[36px]"/></a>
    </div>
   <div class="flex lg:hidden  mt-3">
     <div (click)="togglemenu()" class="px-4 py-3" *ngIf="menu"><i class="fa-solid fa-bars text-[20px]"></i></div>
     <div (click)="closemenu()" class="px-4 py-3" *ngIf="!menu">X</div>
   </div>
</div>
</div>

<div class="fixed fblock gap-3 h-full w-[200px] right-2 top-[15%] z-30 lg:hidden bg-transparent mr-2" *ngIf="!menu">
 <div class="bg-[#f33838] text-white py-2 px-4 shadow-md border border-white" routerLink="/home">
    <a>Accueil</a>
 </div>
 <div class="bg-[#f33838] text-white py-2 px-4 mt-2 shadow-md border border-white" routerLink="/about">
    <a>A propos</a>
 </div>
 <div class="bg-[#f33838] text-white py-2 px-4 mt-2 shadow-md border border-white" routerLink="/services">
    <a>Services</a>
 </div>
 <div class="bg-[#f33838] text-white py-2 px-4 mt-2 shadow-md border border-white" routerLink="/services">
    <a>Contact</a>
 </div>
</div>