<div class="lg:h-[600px] pb-5  bg-[#f33838] text-white">
<div class="grid lg:grid-cols-2 gap-3 container">
    <div class="col-span-1">
      <img src="images/2024_09_01_00_00_IMG_1796.JPEG" class="w-[350px] lg:w-[500px] mx-auto mt-[30%] lg:mt-[12%]"/>
    </div>
    <div class="col-span-1">
      <h3 class="text-white mt-10 text-center">
        Prise de rendez-vous
      </h3>
      <form class="lg:mt-[13%] mx-5">
        <div class="grid gap-3">
          <label class="text-sm">Votre nom</label>
          <input type="text" class="w-full h-[30px] text-white input px-3" />
        </div>
        <div class="grid gap-3 mt-3">
          <label class="text-sm">Votre email</label>
          <input type="email" class="w-full h-[30px] text-white input px-3" />
        </div>
        <div class="grid gap-3 mt-3">
          <label class="text-sm">Que pourrions-nous faire pour vous ?</label>
          <textarea class="input px-3">
          </textarea>
        </div>
        <div class="grid gap-3 mt-3">
          <label class="text-sm">Date de rendez-vous</label>
          <input type="date" class="input px-3"/>
        </div>
        <div class="grid gap-3 mt-5">
          <button class="px-5 py-3 bg-white text-black rounded-md text-sm">
            Envoyer
          </button>
        </div>
      </form>
      <div class="flex justify-center items-center text-center text-sm mt-3">
        <p>Notre assistance s'enchargera de vous répondre</p>
      </div>
    </div>
</div>
</div>
<div class="container overflow-hidden">
  <h3 class="text-center mt-10 font-bold">Ils nous font confiance</h3>
  <!-- app.component.html -->
<div class="swiper-container mt-5">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="images/Boreal_couleur.png" class=" w-[90px] md:w-[150px]"/></div>
    <div class="swiper-slide"><img src="images/images.png" class=" w-[90px] md:w-[150px]"/></div>
    <div class="swiper-slide"><img src="images/synerrgy.jpg" class=" w-[90px] md:w-[150px]"/></div>
    <div class="swiper-slide"><img src="images/manar.png" class=" w-[90px] md:w-[150px]"/></div>
    <div class="swiper-slide"><img src="images/levis.png" class=" w-[90px] md:w-[150px]"/></div>
    <div class="swiper-slide"><img src="images/V_MONCTON.jpg" class=" w-[90px] md:w-[150px]"/></div>
  </div>
  <!-- Ajouter les éléments de pagination et de navigation -->
  <div class="swiper-pagination"></div>
</div>

</div>
<div class="bg-[#EC0028] fixed top-0 left-0 right-0 bottom-0 z-50 flex justify-center items-center" *ngIf="splash">
  <img src="images/2024_08_28_14_10_IMG_1700.GIF" class="w-[200px]"/>
</div>