<div class="lg:h-[600px] pb-5  bg-black text-white">
<div class="grid lg:grid-cols-2 gap-3 container">
    <div class="col-span-1">

      <img src="images/Logo blanc PNG.png" class="opacity-30"/>

    </div>
    <div class="col-span-1">
      <h3 class="text-white mt-10 text-center">
        Contact
      </h3>
      <form class="lg:mt-[13%]">
        <div class="grid gap-3">
          <label class="text-sm">Votre nom</label>
          <input type="text" class="w-full h-[30px] text-white input px-3" />
        </div>
        <div class="grid gap-3 mt-3">
          <label class="text-sm">Votre email</label>
          <input type="email" class="w-full h-[30px] text-white input px-3" />
        </div>
        <div class="grid gap-3 mt-3">
          <label class="text-sm">Que pourrions-nous faire pour vous ?</label>
          <textarea class="input px-3">
          </textarea>
        </div>
        <div class="grid gap-3 mt-5">
          <button class="px-5 py-3 bg-white text-black rounded-md text-sm">
            Envoyer
          </button>
        </div>
      </form>
      <div class="flex justify-center items-center text-center text-sm mt-3">
        <p>Notre assistance s'enchargera de vous répondre</p>
      </div>
    </div>
</div>
</div>