<div class=" bg-white pb-5 mt-1 container">
   <h3 class="text-center mt-[28%] lg:mt-[8%]">FAQ</h3>
   <div class="grid lg:grid-cols-2 gap-3 justify-center items-center mt-[5%] mx-2">
     <div>
       <p class="font-bold text-justify">1. Comment puis-je réserver mon prochain voyage avec l'entreprise ?</p>
       <p class="text-sm  text-justify bg-gray-100 p-5 rounded-md">
         Pour réserver votre prochain voyage avec notre entreprise, 
         vous pouvez facilement le faire en visitant notre site Web
          ou en contactant directement notre équipe du service client.
           Nous avons un système de réservation convivial qui vous permet
            de sélectionner les dates de destination souhaitées et vos préférences. 
       </p>
     </div>
     <div>
      <p class="font-bold text-justify">2. Existe-t-il des promotions spéciales disponibles pour les clients fidèles ? </p>
      <p class="text-sm  text-justify bg-gray-100 p-5 rounded-md">
         Nous apprécions nos clients fidèles et proposons souvent 
         des remises et des promotions spéciales pour leur témoigner 
         notre reconnaissance. Gardez un œil sur les offres exclusives
         sur notre site Web ou inscrivez-vous à notre newsletter pour 
         rester informé des dernières offres. 
      </p>
    </div>
    <div>
      <p class="font-bold text-justify">3. Puis-je demander un hébergement spécifique ou des services personnalisés pour mon voyage ? </p>
      <p class="text-sm  text-justify bg-gray-100 p-5 rounded-md">
         Oui, nous nous efforçons de fournir des services personnalisés
          pour répondre aux besoins et préférences spécifiques de nos clients.
           Que vous ayez besoin d'hébergements spéciaux, de restrictions alimentaires
            ou d'une assistance pour le transport, nous sommes là pour vous garantir 
            une expérience de voyage fluide et agréable. 
      </p>
    </div>
    <div>
      <p class="font-bold text-justify">4. Quelles mesures de sécurité sont en place pour protéger les clients pendant leurs voyages ? </p>
      <p class="text-sm  text-justify bg-gray-100 p-5 rounded-md">
         La sécurité et le bien-être de nos 
         clients sont nos principales priorités. 
         Nous adhérons à des protocoles et directives
          de sécurité stricts pour garantir une expérience 
          de voyage sûre et sécurisée. Notre équipe surveille et
           évalue en permanence la situation afin de procéder aux 
           ajustements nécessaires si nécessaire. 
      </p>
    </div>

    <div>
      <p class="font-bold text-justify">5. Comment puis-je fournir des commentaires ou des suggestions d'amélioration ? </p>
      <p class="text-sm  text-justify bg-gray-100 p-5 rounded-md">
         : Nous apprécions les commentaires de nos clients car ils nous
          aident à améliorer continuellement nos services. Vous pouvez 
          facilement fournir des commentaires ou faire des suggestions en 
          contactant notre équipe du service client ou en remplissant un formulaire 
          de commentaires sur notre site Web. Vos commentaires sont très appréciés et 
          seront pris en compte pour les améliorations futures.
      </p>
    </div>
   </div>
</div>